body {
    font-family: 'Open Sans', sans-serif;
}

/* mix */
.debug * {
    background-color: rgba(255, 0, 0, 0.2);
}

.list-inline {
    margin-bottom: 0;
}
/* /mix */

/* buttons */
.btn {
    padding: 12px 25px;
    border: none;
    border-radius: 0;
    text-transform: inherit;
    font-size: 14px;
    font-weight: 600;
}
.btn:hover {
    text-decoration: none;
}

.btn--primary {
    background-color: #000;
    color: #fff;
}
/* /buttons */

/* header */
header {
    height: 70px;
    line-height: 70px;
}
header img {
    width: 80px;
}

.header__nav {
    display: none;
    font-size: 10px;
    font-weight: 600;
}

.header__nav--main li a {
    color: #000;
    text-transform: uppercase;
}
.header__nav li a:hover {
    text-decoration: none;
}

.header__nav--main {
    margin-right: 20px;
}
.header__nav--main li {
    margin-left: 25px;
}

.btn--lang {
    background-color: transparent;
    border: none;
    border-left: 1px solid #9b9b9b;
    border-right: 1px solid #9b9b9b;
    text-transform: uppercase;
    color: #000;
    padding: 5px 10px;
    margin-right: 5px;
    line-height: initial;
}
.btn--lang i {
    padding-left: 5px;
}

.btn--nav {
    font-size: 16px;
    padding: 0;
}
/* /header */

/* responsive */
/* ---- da medium - desktop ---- */
@media screen and (min-width:992px) {
    /* header  */
    .header__nav {
        display: inline-block;
    }

    .btn--nav {
        display: none;
    }
    /* header  */

}


/* ---- / da medium - desktop ---- */

/* /responsive */

